# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/
.mypy_cache/

# Your .env file for environment variables
env/
venv/
*.env

# If you use Jupyter Notebooks for testing/prototyping
.ipynb_checkpoints/ 

# Operating System Files
.DS_Store 
Thumbs.db 
ehthumbs.db 
Desktop.ini

# IDEs
.idea/
.vscode/ 
*.sublime-project
*.sublime-workspace

# Database
*.db 
*.db-journal 
